<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
<h1> Editar Categoria</h1>
<br/>
<form action="/category" method="POST">
    <input type="hidden" name="id" th:value="${cate.id}"/>
    <p>Ingrese nuevo nombre de categoria:</p>
    <textarea name="nombre" th:text="${cate.nombre}" id="name" cols="30" rows="3">
    </textarea>
    <br/>
    <br/>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</html>