<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Nuevo Restaurante</h1>
<form action="/restaurant" method="POST" enctype="multipart/form-data">



    <p>Nombre:</p>
    <textarea name="name" id="name" cols="30" rows="1"></textarea>
    <br/>
    <p>Telefono:</p>
    <textarea name="phone" id="phone" cols="30" rows="1"></textarea>
    <br/>
    <p>Description:</p>
    <textarea name="description" id="description" cols="30" rows="5"></textarea>
    <br/>
    <p>Categoria:</p>
    <select name="category" id="category">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.nombre}"></option>
    </select>
    <br/>
    <p>Ciudad:</p>
    <select name="city" id="city">
        <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.nombre}"></option>
    </select>

    <br/>

    <div>
        <p>Subir Archivo</p>
        <input type="file" name="file"/>

        <!--<input type="submit" value="Subir"></input>-->
    </div>
    <br/>
    <br/>

    <input type="submit" value="Guardar"></input>
</form>
</body>
</html>