<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Nuevo Restaurante</h1>
<form action="/restaurant" method="POST">



    <p>Nombre::</p>
    <textarea name="name" id="name" cols="30" rows="1"></textarea>

    <p>Tenefono:</p>
    <textarea name="phone" id="phone" cols="30" rows="1"></textarea>
    <p>Description:</p>
    <textarea name="description" id="description" cols="30" rows="5"></textarea>


    <input type="submit" value="Guardar"></input>
</form>
</body>
</html>