<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurantes</title>
</head>
<body>
<h1>Restaurantes</h1>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Telefono
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Opciones
        </th>
    </tr>

    <tr th:each="restaurant : ${restList}">
        <td th:text="${restaurant.id}">
        </td>
        <td th:text="${restaurant.name}">
        </td>
        <td th:text="${restaurant.phone}">
        </td>
        <td th:text="${restaurant.description}">
        </td>

    </tr>


</table>

</body>
</html>



